{% extends 'registration/registration_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Awaaz.De | {% trans "Password reset" %}{% endblock %}

{% block extra-container-class %}password-r-container{% endblock %}


{% block extrahead %}

<style>
/*
	Override the style from base.css
*/
p.instr {
	line-height: 22px;
	font-size: 14px;
	padding-bottom: 30px;
	text-align: justify;
}


</style>

{% endblock %}


{% block page_content %}

<p class="form-error instr">
	{% blocktrans %}
		 We've emailed you instructions for resetting your password. If you don't receive an email, please make sure you've entered the correct username, and check your spam folder.
	{% endblocktrans %}
</p>

{% endblock %}
