{% load i18n compress common  %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="voice SMS API, transactional voice SMS, bulk voice SMS, free voice SMS, voice messaging API, voice messaging, ICT4D, Mobiles for development, Mobiles for Health, Mobiles for education, indian language voice SMS, Rural voice messagging, Farmer voice messaging, Rural SMS platform, hindi voice SMS, marathi voice SMS, punjabi voice SMS, tamil voice SMS">

    <meta name="description" content="Experience new era of voice messaging!">

    <meta name="author" content="awaaz.de">

	<title>{% block title %}{% endblock %}</title>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script>
		paceOptions = {
		  ajax: {
		    trackMethods: ['GET', 'POST'],
		    ignoreURLs: ['live_call', '/report/live_call_last_15sec_data']
		  }
		};
	</script>
	<!-- Google-Fonts -->
   	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

	{% compress css %}
	<!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}dashboard/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}dashboard/css/bootstrap-reset.css" rel="stylesheet">
    
    <link href="{{ STATIC_URL }}dashboard/assets/bootstrapselect/bootstrap-select.css" type="text/css" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/select2/select2.css" />
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/datepicker/datepicker3.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/datepicker/jquery.timepicker.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/datatables/dataTables.bootstrap.css" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/switchery/switchery.css" />
	
    <!--Animation css-->
    <link href="{{ STATIC_URL }}dashboard/css/animate.css" rel="stylesheet">

    <!--Icon-fonts css-->
    <link href="{{ STATIC_URL }}dashboard/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}dashboard/assets/ionicon/css/ionicons.css" rel="stylesheet" />

	
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/charts/nv.d3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/assets/charts/rickshaw.css" />
    
    
    <link href="{{ STATIC_URL }}dashboard/css/style.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}dashboard/css/helper.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}dashboard/css/style-responsive.css" rel="stylesheet" />
	{% endcompress %}
	
	{% block extrahead %}{% endblock %}
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	
</head>

<body>
	
	{% block partial %}{% endblock %}
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
	
	
	
	{% compress js %}
	<!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}dashboard/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}dashboard/js/pace.js" type="text/javascript" ></script>
    <script src="{{ STATIC_URL }}dashboard/js/modernizr.js" type="text/javascript" ></script>
    <script src="{{ STATIC_URL }}dashboard/js/wow.js" type="text/javascript" ></script>
    <script src="{{ STATIC_URL }}dashboard/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}dashboard/assets/bootstrapselect/bootstrap-select.js" type="text/javascript" ></script>
	<script src="{{ STATIC_URL }}dashboard/assets/select2/select2.js" type="text/javascript" ></script>
	
	<script src="{{ STATIC_URL }}dashboard/assets/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}dashboard/assets/datepicker/jquery.timepicker.js" type="text/javascript"></script>
	
	<script src="{{ STATIC_URL }}dashboard/assets/datatables/dataTables.js" type="text/javascript" language="javascript" ></script>
	<script src="{{ STATIC_URL }}dashboard/assets/datatables/dataTables.bootstrap.js" type="text/javascript" language="javascript"></script>
	
	<script src="{{ STATIC_URL }}dashboard/assets/charts/nv.d3.js" type="text/javascript" language="javascript"></script>
	<script src="{{ STATIC_URL }}dashboard/assets/charts/rickshaw.js" type="text/javascript" language="javascript"></script>
	<script src="{{ STATIC_URL }}dashboard/assets/charts/jquery.sparkline.js" type="text/javascript" language="javascript"></script>
	<script src="{{ STATIC_URL }}dashboard/assets/charts/jquery.easypiechart.js"></script>
	<script src="{{ STATIC_URL }}dashboard/js/dygraph-combined.js" type="text/javascript"></script>
	 
   	<script src="{{ STATIC_URL }}dashboard/assets/switchery/switchery.js"></script>
   	
	<script src="{{ STATIC_URL }}dashboard/js/jquery.app.js" type="text/javascript"></script>
	{% endcompress %}


	{% block extrascripts %}{% endblock %}
</body>
</html>