{% extends 'payment/payment_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Awaaz.De | Buy more credits{% endblock %}

{% block extrahead %}
<style>
h3, span.sub-text {
	color: #747c83;
}

span.sub-text {
	font-size: 14px;
	line-height: 35px;
}

.text-green {
	color: #27ae60;
}

.text-blue {
	color: #0a8fd5;
}

.pricing-plan-container {
	background: #ffffff;
	min-height: 238px;
	position: relative;
	margin-top: -200px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.pricing {
	padding-top: 0px;
	margin: 0px;
}
.header {
	min-height: 100px;
	margin-left: 0px;
	margin-right: 0px;
}
.pricing-list {
	list-style: none;
	padding: 0px;
	margin-left: 15px;
	margin-right: 15px;
}
.pricing-list li {
	float: left;
	width: 33.3333%;
	margin: 0px;
	border-right: 1px solid rgba(50, 58, 69,0.2);
}
.pricing-list li:last-of-type {
	border-right: 0px;
}
.pricing-plan {
	background: #ffffff;
	color: rgba(50, 58, 69,0.8);	
}
.btn-price {
	display: block;
	width: 86%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f36;
	border-color: #f36;
	color: #fff;
}
.btn-price:hover {
	color: #fff;
}
.top-text {
	padding-top: 8%;
}

.top-text h2, p {
	color: #fff !important;
}
.custom-link a, .control-label a {
	color: #f36;
	text-decoration: none;
}

.small-text {
	display: inline-block;
}

input[type="text"],input[type="number"] {
	font-size: 13px;
	color: #323a45;
	border: 1px solid #e8ecef;
	-webkit-transition: border 0.4s;
	-moz-transition: border 0.4s;
	transition: border 0.4s;
	box-shadow: none;
	border-width: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
}

input[type="text"]:focus,input[type="password"]:focus, input[type="email"]:focus, select.payment-select:focus {
	outline: none;
	border-color: #d0d4d7;
	box-shadow: none;
}

select.payment-select {
	font-size: 13px;
	font-weight: 700;
	color: #323a45;
	border: 1px solid #e8ecef;
	-webkit-transition: border .4s;
	-moz-transition: border .4s;
	transition: border .4s;
	box-shadow: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 2px;
}

.field {
	margin-top: 20px;
}

#customize {
	padding-top: 20px;
}
.table-bordered, .table-bordered tr th {
	text-align: center;
}
.plan-footer-detail {
	list-style: none;
	text-align: left;
	margin-bottom: 60px;
	color: #636363;
}

.field-error {
	border: 2px solid #ff3366 !important;
}

.label-error {
	color: #ff3366 !important;
}

.label-success-c {
	color: #06ba8f !important;
}

.btn-apply {
	background: #06ba8f;
	border-color: #06ba8f
}
.btn-apply:hover, .btn-apply:focus {
	color: #fff;
}

#pricing-container {
	margin-top: 70px;
}

#pricetblLabel {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700!important;
	margin-bottom: 30px;
	margin-top: 20px;
}

.w-100 {
	height: 100px;
}

.action-tab-bar {
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.action-tab-bar>li>a {
	color: #555;
}
.action-tab-content {
	padding-top: 20px;
}
.p-t-30 {
	padding-top: 30px;
}
</style>
{% endblock %}

{% block page_content %}

<div class="col-lg-7 pricing-plan-container">
	<!-- pricing -->
	<div class="row pricing" id="pricing">
			<div id="customize">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center field">
						<h3>Online payment is currently undergoing aesthetic improvements.</h3>
						
						<span class="sub-text">We'll be back <span class="text-blue">very soon</span>. Sorry for any inconvenience.</span>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- ./pricing -->
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 col w-100">&nbsp;</div>
</div>

<div class="row" id="footer">
			<div class="container FadeIn">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col">
						<img src="img/logo_alt_2.png" alt="awaazde"/>
						<h3 class="footer-logo-text">Awaaz.De</h3>
						<h6>last mile mobile technology</h6>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col">
						<h5>About Us</h5>
						<ul>
							<li><a href="/about-us">About Us</a></li>
							<li><a href="/about-us/#media">Media &amp; Press</a></li>
							<li><a href="/jobs">Career</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
						
						<div class="sub-row">
							<h5>Get in Touch</h5>
							<ul>
								<li>(e) <a href="mailto:info@awaaz.de" title="info@awaaz.de">info@awaaz.de</a></li>
								<li><a href="call:">(I) +91 7940086740</a></li>
							</ul>
						</div>
						<!-- ./col-->
					</div>
					<!-- ./col-->

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col">
						<h5>Policies</h5>
						<ul>
							<li><a href="http://awaaz.de/docs/ToS.pdf"
								title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
							<li><a href="http://awaaz.de/docs/ToS.pdf"
								title="Disclaimer Privacy Policy">Disclaimer &amp; Privacy</a></li>
							<li><a href="http://awaaz.de/docs/ToS.pdf"
								title="Cancellation &amp; Refund Policy">Cancellation &amp;
									Refund Policy</a></li>
							<li>&nbsp;</li>
						</ul>
						
						
						<div class="sub-row">
							<h5>&nbsp;</h5>
							<ul class="social">
								<li><a href="http://twitter.com/awaazde"><i
										class="social-twitter-bird"></i></a></li>
								<li><a href="http://www.facebook.com/AwaazDe"><i
										class="social-facebook"></i></a></li>
								<li><a href="http://www.linkedin.com/company/awaaz-de"><i
										class="social-linkedin"></i></a></li>
								<li><a href="/blog"><i class="social-wordpress"></i></a></li>
							</ul>
						</div>
						<!-- ./col-->
					</div>
					<!-- ./col-->
				</div>
				<!-- ./row -->

				<hr class="footer-line" />
			</div>
		</div>
{% endblock %} 


{% block extrascripts %}
	<script type="text/javascript">
		
	</script>
{% endblock %}



