{% extends "registration/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block extrastyle %}{% load staticfiles %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static  'admin/css/login.css' %}"/>{% endblock %}


{% block extrahead %}

<style>
/*
	Override the style from base.css
*/

h1#site-name {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.login .form-row #id_email {
    clear: both;
    padding: 6px;	
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  	border: 1px solid #ccc
}

p.instr {
	line-height: 20px;
	font-size: 12px;
}


</style>

{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="form-row1">
	<p class="instr">{% trans "To reset your password, please enter your username (email address) below." %}</p>
</div>
<form action="" method="post">{% csrf_token %}
	{{ form.email.errors }}
	
	<div class="form-row">
    	<label for="id_email">{% trans 'Username (email address):' %}</label> {{ form.email }}
  	</div>
  	<div class="submit-row">
  		<label>&nbsp;</label><input type="submit" value="{% trans 'Reset Password' %}" />
  	</div>
</form>

{% endblock %}
