{% extends "registration/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block extrastyle %}{% load staticfiles %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static  'admin/css/login.css' %}"/>{% endblock %}


{% block extrahead %}

<style>
/*
	Override the style from base.css
*/

h1#site-name {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.login .form-row #id_new_password1, .login .form-row #id_new_password2 {
    clear: both;
    padding: 6px;	
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  	border: 1px solid #ccc
}

p.instr {
	line-height: 20px;
	font-size: 12px;
	text-align: left;
}


ul.errorlist li {
	font-size: 12px !important;
	display: block;
	padding: 4px 5px 4px 5px;
	margin: 0 0 3px 0;
	color: red;
	background: none;
	border: none;
}

</style>

{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% if validlink %}

<div class="form-row1">
	<p class="instr">{% trans "Please enter your new password." %}</p>
</div>

<form action="" method="post">{% csrf_token %}
	<div class="form-row">
		<label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}
	</div>
	{{ form.new_password1.errors }}
	
	<div class="form-row">
		<label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
	</div>
	{{ form.new_password2.errors }}
	
	<div class="submit-row">
		<label>&nbsp;</label></label><input type="submit" value="{% trans 'Change password' %}" />
	</div>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
