{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags common_tags %}

{% block title %}Awaaz.De | Add Coupon{% endblock %}

{% block partial %}
{% include "dashboard/includes/navmenu.html" with active_tab='us' %}

<div class="container" id="add-coupon-container">
	<div class="row">
		<div class="col-md-3 p-t-20 p-b-20">
			<h3>Coupon management</h3>
		</div>
	</div>

	<div class="row p-b-20">
		<div class="col-md-12">
			<div class="panel panel-default p-b-20 p-t-20" id="search-portlet">
				<div class="container-xs-height full-height">
					<div class="row-xs-height p-20">
						<div class="col-md-12 form-group-sm">
							
						
						{% crispy form form.helper %}
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}