{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags common_tags %}
{% block title %}Awaaz.De | Report{% endblock %}
{% block partial %}

{% include "dashboard/includes/navmenu.html" with active_tab='report' %}

<!--Main Content Start -->
<section class="content">
	{% include "dashboard/includes/header.html" with active_tab='report' %}
	{% block subheader %}
			<div class="row">
				<div class="col-md-12 ">
					<div class=" panel">
						<ul id="graph_menu" class="submenu-main list-inline">
							{% for chart_name,chart_data in graph_list_dict.items %} 
							{% for chart_visible in chart_data|get_item:'visible' %} 
							{% if chart_visible == visible %}
								<li><a id="{{ chart_name }}" href="">{{chart_data|get_item:'name'}}
								</a></li> 
							{% endif %} 
							{% endfor %} 
							{% endfor %}
						</ul>
						<input type="hidden" id="graph_type"> <input type="hidden"
							id="chart_data_for_csv">
					</div>
				</div>
			</div>
		{% endblock %}

	<!-- Page Content Start -->
	<!-- ================== -->

	<div class="wraper container-fluid">
		<div id="report-container">
			
			<div class="alert alert-danger" id="success-alert" role="alert" hidden="true" >
				
			</div>


			{% csrf_token %}
			<div>
				<div class="container-xs-height full-height panel">
						<div class="row-xs-height">
							<div class="col-xs-height col-top">
								<div class="panel-heading ">
									<div class="panel-title text-black hint-text p-l-20" >
										<span class="fs-11 all-caps"><h4>Graph Level</h4></span>
									</div>
								</div>
								<div>
									<div class="row" >
									
									{% if request.user.is_superuser or request.user.is_staff %}
									
										<div class="col-md-4 p-b-20 p-t-20" id="select-user-div">			
											<div class="col-md-2">
												<h5 class="v-align-middle pull-right text-primary">User </h5>
											</div>	
											
											<div class="col-md-10">
												<select class="width-100 user-select-c" id="select-user" data-placeholder="---" >
													<option></option>
													{% for admin in admins %}
															<option id="{{ admin|get_item:'id' }}" value="{{ admin|get_item:'id' }}">{{ admin|get_item:"name" }} ({{ admin|get_item:"number" }} - {{ admin|get_item:"admin__auth_user__username" }})</option>
													{% endfor %}
												</select>
											</div>
										</div>
									
									{% else %}
									
									<input type="hidden" id="select-user" value= "{{user_id}}">
									
									{% endif %}
									
									
										<div class="col-md-4 p-b-20 p-t-20" id="select-group-div">
											<div class="col-md-2">
													<h5 class="v-align-middle pull-right text-primary">Group</h5>
												</div>	
												
												<div class="col-md-10">
													<select class="width-100 " id="select-group" data-placeholder="---" >
														<option></option>
														
													</select>
												</div>
											</div>
									
									
										<div class="col-md-4 p-b-20 p-t-20" id="select-broadcast-div">
											<div class="col-md-3">
													<h5 class="v-align-middle pull-right text-primary">Broadcast</h5>
												</div>	
												
												<div class="col-md-9">
													<select class="width-100 " id="select-broadcast" data-placeholder="---" >
														<option></option>
													
													</select>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			
			<div class="row ">
					
					<div class="col-md-12" >
					
					<div class="panel" style="height : 600px;" >
					
						<div class="widget-calls-in" id="calls-dial-pickup-portlet">
						
						
						<div class="container-xs-height full-height">
							<div class="row-xs-height">
								
								<div class="col-xs-height col-top">
								
									<div class="panel-heading">
									
									<div class="row">
										<div class="col-md-3">
											<h4>
												Graph
											</h4>					
										</div>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													
										<div class="col-md-2 pull-right">
										<button  id="get_graph_btn" class="btn dashboard-btn">Submit</button>
										<button  id="save_as_csv_btn" class="btn dashboard-btn">Export</button>
										</div>
										<div class="input-daterange input-group datepickeryyyy-mm-dd col-md-5  p-r-20 pull-right" id="dashboard-datepicker-range">
											<input type="text" class="input form-control" name="start" id="startdate" /> 
											<span class="input-group-addon">to</span> 
											<input type="text" class="input form-control input-group" name="end" id="enddate" />		
										</div>
										
									</div>																									
	
									</div>										
								
								</div>																					
							
							</div>
						</div>
						
						
						<div class="row p-t-20 panel-body">
							
							<div class="chart-main-class" style="height:440px; padding-top:35px;">
								
								<div class="chart" id="widget-calls-in-chart"> CALL IN CHART
					                     <span class="call-in-chart"></span> 
								</div>
								
								<div class="chart" id="widget-calls-forward-chart"> CALL FORWARD CHART
					                     <span class="call-in-chart"></span> 
								</div>
								
								<div class="chart" id="widget-calls-dial-vs-pickup-chart"> DIAL Vs. PICKUP CHART
					                     <span class="call-in-chart"></span> 
								</div>
								
							
									
								<div class="widget-calls-in-chart line-chart" id="widget-call-duration-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="true" data-stroke-width="10"> DURATION CHART
										<svg></svg>
								</div>
									
								<div class="widget-calls-in-chart line-chart" id="widget-call-response-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="False" data-stroke-width="2"> RESPONSE CHART
										<svg></svg>
								</div>
									
								<div class="widget-calls-in-chart line-chart" id="widget-attempt-wise-pickup-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="False" data-stroke-width="2"> ATTEMPT WISE PICKUP
										<svg></svg>
								</div>
									
									
								<div class="widget-calls-in-chart line-chart" id="widget-total-minute-used-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="False" data-stroke-width="2"> TOTAL MINUTE USED OVER TIME
										<svg></svg>
								</div>								
									
									<div class="widget-calls-in-chart line-chart full-height" id="widget-total-call-count-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="False" data-stroke-width="2"> CALL COUNT OVER TIME
										<svg></svg>
									</div>	
									
									
									<div class="widget-calls-in-chart line-chart" id="widget-credit-used-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="False" data-stroke-width="2"> CREDIT USED
										<svg></svg>
									</div>	
									
									<div class="widget-calls-in-chart line-chart" id="widget-recharge-chart"
										data-area-color="complete-light"
										data-y-grid="false" data-points="False" data-stroke-width="2"> RECHARGE
										<svg></svg>
									</div>	
									<span id="show-notification" data-message="{{ error }}" data-type="error" hidden="true"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Content Ends -->
	<!-- ================== -->


	

</section>
<!-- Main Content Ends -->

{% endblock %}

{% block extrascripts %}

<script>
	
	$.ReportPage.init();
	$(document).ready(function()
	{		
		var graph_url_data = {};
		graph_url_data["report"] = "{% url 'dashboard:report_get_graph_data' %}";
		$.ReportPage.set_graph_urls(graph_url_data);
	});

</script>

{% endblock %}