{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags %} 
{% load common_tags %}
{% block title %}Awaaz.De | Search{% endblock %} 
{% block extrascripts %}

<script>
	$.UserSearch.init()
	$(document).ready(function()
	{
		
		var fields = [];
		var operator = [];
		var type = [];
		var selected_value = [];
		var selected_andor = [];
		var selected_operator = [];
		var selected_field = [];
		
		
		{% for key,data in fields.items  %}
			
			fields.push("{{data|get_item:'fieldviewname'}}");
			operator.push("{{data|get_item:'operator'}}");
			type.push("{{data|get_item:'type'}}");
			
			
		{% endfor %}
		

		$.UserSearch.setData(fields,operator,type);
		
		
		{% if searchstring %}
			$.UserSearch.setSearchString("{{searchstring}}");
		{% endif %}
	
	
		{% for json in jsonlist %}
				
				selected_value.push("{{ json|get_item:'value' }}")
				selected_andor.push("{{ json|get_item:'andor' }}")
				selected_operator.push("{{ json|get_item:'operator' }}")
				selected_field.push("{{ json|get_item:'field' }}")

		{% endfor %}
		
		{% if jsonlist %}
			$.UserSearch.setDefaultData(selected_andor,selected_field,selected_operator,selected_value);
		{% endif %}
		

	});

</script>

{% endblock %}
{% block partial %}

{% include "dashboard/includes/navmenu.html" with active_tab='user' sub_menu='user_search' %}

<!--Main Content Start -->
<section class="content">
	{% include "dashboard/includes/header.html" with active_tab='search' %}

	<!-- Page Content Start -->
	<!-- ================== -->
	{% if error %} 
		<div class="alert alert-danger" role="alert">  {{ error }}  </div>
	{% endif %}
	<div class="wraper container-fluid">
		<div id="usersearch-container">
			
		</div>

		<div class="row p-b-20">
			<div class="col-md-12 sm-no-padding">
				<div class="panel panel-default p-b-20 p-t-20" id="search-portlet">
					<div class="container-xs-height full-height">
						<div class="row-xs-height p-b-20">
							{% autoescape off %}
							<form class="form-horizontal" id="usersearchform" action="" method="POST">
								{% csrf_token %}
								
								<div id="div_id_search" class="form-group">
									<label for="searchstring" class="control-label col-sm-1 col-custom-label">
										Search Word
									</label>
									<div class="col-sm-8">
										<input type="text" class="textinput textInput form-control searchstring"
											placeholder="Your search word" id="search_string" name="searchstring">
									</div>
									<div class="col-sm-2">
										<a id="advance_search_link" href="" class="btn btn-link">Advanced Search</a>
									</div>
									
								</div>								
								<!--  jquery show hide won't work if we use hide class because of !important in hide class -->
								<div id="advance_search_panel" class="p-t-20 row" style="display: none;">
								</div>
								
								<div class="row">
									<div class="col-sm-9 col-custom-label">
										<div Class="form-group">
											<div id="advance_search_panel_addfilterbtn" class="pull-right" style="display:none;">
												<input type="button" class="btn btn-default"
													id="add_filter" value="Add Filter">

											</div>
										</div>
									</div>
								</div>
								
								<!--  search button -->
								<div class="row">
									<div class="col-sm-12">
										<div class="p-t-20 pull-right">
											<input type="submit" name="submit" value="Search"
												class="btn dashboard-btn" id="submit"> <input
												name="save" value="false" type="hidden" id="saveFlag">
										</div>
									</div>
								</div>
							</form>
							{% endautoescape %}

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row p-b-20">
			<div class="col-md-12">
				<div class="panel panel-default p-b-20 p-t-20" id="search-portlet">
					<div class="container-xs-height full-height">
						<div class="row-xs-height p-20">
							<div class="col-md-12">
								{% if users %}
								<table class="table data-table" data-pagesize="10"
									data-paging="true" id="data-search-table">
									<thead>
										<tr>
											<th>Name</th>
											<th>Number</th>
											<th>Email</th>
											<th>Balance</th>
											<th>Login/Groups</th>
											<th>Account Start Date</th>
											<th>Last Login</th>
											{% if is_superuser %}
											<th></th>
											{% endif %}
										</tr>
									</thead>
									<tbody>
										{% for key,user in users.items %}
										<tr>
											<td width="10%">{{ user|get_item:'name' }}</td>
											<td width="10%">{{ user|get_item:'number' }}</td>
											<td width="10%">{{ user|get_item:'email' }}</td>
											<td width="10%">{{ user|get_item:'balance' }}</td>
											<td width="30%">
												<p>
													<strong> 
													{{ user|get_item:'admin__auth_user__username' }}
													</strong>
												</p> 
													{% with list1=user|get_item:'group' %}
													{% for u in list1 %}
														<p>
														{{ u|get_item:'admin__forum__name' }} - {{ u|get_item:'admin__forum__line__number' }} - {{ u|get_item:'admin__forum__status' }}
														</p> 
													{% endfor %} 
													{% endwith %}
											</td>
											<td width="10%">{{ user|get_item:'admin__auth_user__date_joined' }}</td>
											<td width="10%">{{ user|get_item:'admin__auth_user__last_login' }}</td>
											{% if is_superuser %}
											<td width="10%">
												<div class="dropdown">
													<button class="btn btn-default dropdown-toggle"
														type="button" id="dropdownMenu1" data-toggle="dropdown"
														aria-expanded="true">
														Action <span class="caret"></span>
													</button>

													<ul class="dropdown-menu" role="menu"
														aria-labelledby="dropdownMenu1">
														<li role="presentation" class="accountdetail"><a
															role="menuitem"
															href="{% url 'dashboard:settings_param' admin_id=user|get_item:'id' %}">Account
																Setting</a></li>
														<li role="presentation" class="streamaccount"><a
															role="menuitem"
															href="{% url 'dashboard:settings_param' admin_id=user|get_item:'id' %}">Group
																/ SMS Setting</a></li>
														<li role="presentation" class="recharge"><a
															role="menuitem"
															href="{% url 'dashboard:settings_param' admin_id=user|get_item:'id' %}">Recharge</a></li>
													</ul>
												</div>
											</td>
											{% endif %}
										</tr>
										{% endfor %}
									</tbody>
								</table>

								<div>
									<center>
										<input id="saveasexcel" class="btn dashboard-btn" form="usersearchform" type="submit" value="Save as CSV" />
									</center>

								</div>

								{% else %} <strong>No users have been found</strong> {% endif %}
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Content Ends -->
	<!-- ================== -->




</section>
<!-- Main Content Ends -->

{% endblock %}
