{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags common_tags %}
{% block title %} Awaaz.De | Signup List{% endblock %}
{% block partial %}
{% include "dashboard/includes/navmenu.html" with active_tab='user' sub_menu='signups' %}

<!--Main Content Start -->
<section class="content">
	{% include "dashboard/includes/header.html" with active_tab='signups'%}

	<!-- Page Content Start -->
	<!-- ================== -->

	<div class="wraper container-fluid">
		<div id="signup-user-container">
			
		</div>
		<div class="row p-b-20">
			<div class="col-md-12">
				<div class="panel panel-default p-b-20 p-t-20" id="search-portlet">
					<div class="container-xs-height full-height">
						<div class="row-xs-height p-20">
							<div class="col-md-12">
								{% if users %}
								<table class="table data-table" data-pagesize="20"
									data-paging="true" data-searchable="true">
									<thead>
										<tr>
											<th>Name</th>
											<th>Number</th>
											<th>Email ID</th>
											<th>Last message date</th>
											<th>Join Date</th>
										</tr>
									</thead>
									<tbody>
										{% for u in users%}
										<tr>
											<td>{{ u|get_item:'admin__user__name' }}</td>
											<td>{{ u|get_item:'admin__user__number'}}</td>
											<td>{{ u|get_item:'email' }}</td>
											
											<td>{{ u|get_item:'message__date' }}</td>
											<td>{{ u|get_item:'date_joined' }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								{% endif %}
							</div>
							<center>
							<form class="form-horizontal" id="signupuserform" action="" method="POST">
							 {% csrf_token %}
								<input id="saveasexcel" class="btn dashboard-btn" type="submit" value="Save as CSV" />
							</form>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Content Ends -->
	<!-- ================== -->


</section>
<!-- Main Content Ends -->

{% endblock %}
