{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags common_tags %} 
{% block title %}Awaaz.De | Coupon List{% endblock %} 
{% block partial %} 
{% include "dashboard/includes/navmenu.html" with active_tab='user' sub_menu='coupons' %}

<!--Main Content Start -->
<section class="content">
	{% include "dashboard/includes/header.html" with active_tab='coupons' %}

	<!-- Page Content Start -->
	<!-- ================== -->

	<div class="wraper container-fluid">
		<div id="coupon-container">
			<div class="row p-b-20">
				

				<div class="col-md-2 col-md-offset-10 p-t-20 p-b-20">
	
					<a id="add_coupon" href="{% url 'dashboard:addcoupon' %}">
					<input type="button" class="btn dashboard-btn" id="add_coupon" value="Add Coupon"></a>
	
				</div>
			</div>
		</div>
		<div class="row p-b-20">
			<div class="col-md-12">
				<div class="panel panel-default p-b-20 p-t-20 " id="search-portlet">
					<div class="container-xs-height full-height">
						<div class="row-xs-height p-20">
							<div class="col-md-12">
								{% if users %}
								<table class="table data-table" data-pagesize="20"
									data-paging="true" data-searchable="true">
									<thead>
										<tr>
											<th>User</th>
											<th>Code</th>
											<th>Created On</th>
											<th>Expire On</th>
											<th>Type</th>
											<th>Value</th>
										</tr>
									</thead>
									<tbody>
										{% for u in users%}
										<tr>
											{% if u|get_item:'user__username' %}
											<td>{{ u|get_item:'user__username' }}</td>
											{% else %}
											<td>All Users</td>
											{% endif %}
											<td>{{ u|get_item:'code'}}</td>
											<td>{{ u|get_item:'created_on' }}</td>
											<td>{{ u|get_item:'expires_on' }}</td>
											<td>{{ u|get_item:'type' }}</td>
											<td>{{ u|get_item:'value' }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Content Ends -->
	<!-- ================== -->



</section>
<!-- Main Content Ends -->

{% endblock %}