{% extends 'registration/base_site.html' %}
{% load crispy_forms_tags %}
{% load upload_tags %}
{% load i18n %}
{% load common %}

{% block extrahead %}
<script src="{{ STATIC_URL }}js/bootstrap-alert.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}js/fileupload/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}js/fileupload/load-image.min.js"></script>
<script src="{{ STATIC_URL }}js/fileupload/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}js/fileupload/locale.js"></script>
<script src="{{ STATIC_URL }}js/fileupload/main.js"></script>
<script src="{{ STATIC_URL }}js/fileupload/csrf.js"></script>

<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-image-gallery.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<style>
/*
	Override the style from base.css
*/

input[name="submit"] {
	background: #0074CC;
	border-style: solid;
	border-color: #0074CC;
	border-width: 1px;
	color: 	#FFFFFF;
	padding: 4px 10px; 
}

input[name="refresh"]{
	background: #5BB75B;
	border-style: solid;
	border-color: #5BB75B;
	border-width: 1px;
	color: 	#FFFFFF;
	padding: 4px 10px; 
}

div.qform
{
    border: 1px solid black;
    border-radius:3px;
    margin: 5px;
    padding: 5px;
}

#dropzone
{
	/* 
	* This elt hidden by default; made visible
	* when we are in the question specification step
	*/
	display:none;
	
	text-align:center; 
	width:950px; 
	height:100px; 
	border-style:dashed; 
	border-width:5px; 
	border-color:black;
	border-radius:5px;
	margin: 10px;
}

</style>
{% endblock %}
{% block pretitle %}
<p class="offset11"><a href="{% settings_value "PROJECT_MOUNT_POINT" %}/logout">{% trans 'Log out' %}</a></p>
{% endblock %}
{% block content %}
	{% if success %}<div class="alert alert-success fade in" ><a class="close" data-dismiss="alert">x</a><strong>{{ success }}</strong></div>{% endif %}
   	<form action="{% url awaazde.console.views.createsurvey %}" class="form-horizontal" method="post" id="create-survey-form" enctype="multipart/form-data">
   		{% crispy createform %}
   		{% if question_formset %}
   			{% crispy question_formset question_formset.form.helper %}
   		{% endif %}
   		
   	</form>
{% endblock %}


{% block footer %}

{% upload_js %}

<script>
	var $include_id = $('input[name="include_id"]'),
    	$id_length = $('select[name="id_length"]');
	$include_id.change(function() {
    	if ($include_id.is(':checked')) {
        	$id_length.removeAttr('disabled');
    	} else {
        	$id_length.attr('disabled', 'disabled').val();
    	}
	}).trigger('change'); // added trigger to calculate initial state
	
	var DEFAULT_MIN_DIGITS = '10';
	var $country_code = $('input[name="country_code"]'),
    	$min_digits = $('select[name="min_digits"]');
	$country_code.change(function() {
    	if ($country_code.val()) {
        	$min_digits.removeAttr('disabled');
    	} else {
        	$min_digits.attr('disabled', 'disabled').val();
        	$min_digits.val(DEFAULT_MIN_DIGITS);
    	}
	}).trigger('change'); // added trigger to calculate initial state

	
	$('input[type="radio"]').change(function() {
		// set dynamism for Type for each questionform
		
		// parse out the index of this questionform
		var formidx = this.id.split('-')[1];
		if (this.id.indexOf('-type_') > -1)
		{
			$number_opts = $('#id_form-'+formidx+'-num_options');
			if (this.value == 1 || this.value == 2)
			{
				$number_opts.removeAttr('disabled');
			}
			else if (this.value == 3)
			{
				$number_opts.attr('disabled', 'disabled');
			}
		}
		else if (this.id.indexOf('-advanced_') > -1)
		{
			$skip_rule = $('#div_id_form-'+formidx+'-skip_rule_q');
			$skip_opts = $skip_rule.closest('div.row')
			$advanced_row = $skip_rule.closest('.advanced-row')
			$advanced_row.show();
			$alt_resp_opt = $('#div_id_form-'+formidx+'-alternative_response');
			if (this.value == 0)
			{
				// None; hide everything
				$skip_opts.hide();
				// remove any cloned skip rules
				var $parent_form = $(this).parents('.qform');
				$parent_form.find("[id*='skip_rule_clone']").remove();
				$alt_resp_opt.hide();
			}
			else if (this.value == 1)
			{
				//skip options: show it and hide alternative response opt
				$skip_opts.show();
				$alt_resp_opt.hide();
			}
			else if (this.value == 2)
			{
				$skip_opts.hide();
				// remove any cloned skip rules
				var $parent_form = $(this).parents('.qform');
				$parent_form.find("[id*='skip_rule_clone']").remove();
				$alt_resp_opt.show();
			}
		}
	});
	
	$('.advanced-row').hide();
	$('.form-actions').addClass('span10');
	
	$('#create-survey-form').fileupload();
	var $dropzone = $('#dropzone');
	$('#create-survey-form').fileupload(
    	'option',
   		{ 	
    		dropZone:$dropzone,
    		acceptFileTypes: /(\.|\/)(zip)$/i,
    		autoUpload: true,
    		url: '{{ fileupload_url }}',
    		paramName: 'file',
    		formData: {{ fileupload_data|default:"[]"|safe}}
    	}
	);
	
	
	$(document).bind('dragover', function (e) {
    	var dropZone = $('#dropzone'),
        	timeout = window.dropZoneTimeout;
        $label = dropZone.find('.label');
        if (timeout) {
        	clearTimeout(timeout);
    	}
    	if (e.target === dropZone[0]) {
    		$label.removeClass('label-info');
    		$label.addClass('label-success');
        	
    	} else {
        	$label.addClass('label-info');
    		$label.removeClass('label-success');
    	}
    	window.dropZoneTimeout = setTimeout(function () {
        	window.dropZoneTimeout = null;
        	$label.addClass('label-info');
    		$label.removeClass('label-success');
    	}, 100);
	});
	
	/*
	*	The add skip rule functionality
	*/
	function add_skip_rule($parent_form)
	{
		// get the form id for this skip rule
		var $sib_elt = $parent_form.find('div').filter(function() {
        						return this.id.match(/div_id_form-\d+-type/);
    						});
		var num_clones = $parent_form.find("[id*='skip_rule_clone']").length;
		var formIdx = $sib_elt.attr("id").match(/form-(\d+)/)[1];
		var cloneId = "skip_rule_clone_form-" + formIdx + "-" + num_clones;
    	var $skip_rule = $parent_form.find(".skip-rule").clone()
        	.appendTo($parent_form.find(".skip-rules"))
        	.attr("id", cloneId)
        	// remove the class so the clone above will
        	// only duplicate the original element next time
        	.removeClass('skip-rule');
        return $skip_rule;
	}
	
	$(".skip-rules").on("click", 'input[name="add-skip-rule"]', function(){
		// get the form id for this skip rule
		var $parent_form = $(this).parents('.qform');
		add_skip_rule($parent_form);
	});
	
	// Should be consistent with awaazde.console.forms.QuestionForm
	var ADVANCED_OPTION_TYPE_SKIP=1
    var ADVANCED_OPTION_TYPE_ALT=2
	
	{% if question_formset %}
		// dropzone is hidden by default, so unhide it now
   		$dropzone.css("display", "block");
   		var $language = $('input[name="language"]');
   		$language.attr('readonly', 'readonly');
   		
   		{% if advanced_opts %}
   			/*
			*	Load advanced options: they were orginally set in JS, so can't expect crispy/django
			*	to restore what was submitted after validation error 
			* 	advanced_opts looks something like {1: {type: 1, rules: {1: 2, 2: 3}}, 3: {type: 2, q: 3},...}
			*/
			{% for formIdx, opts in advanced_opts.items %}
				var formIdx = {{ formIdx }};
				var $parent_form = $('#div_id_form-'+formIdx+'-type').parents(".qform");
				// select the advanced option
				var opt_type = {{ opts.type }};
				var $advanced = $parent_form.find("input[name*='advanced'][value='"+opt_type+"']");
				$advanced.attr('checked', true).trigger('change');
				// init the original skip rul with the first vals 
				$('#id_form-'+formIdx+'-skip_rule_q').val({{opts.firstq}}-1)
				$('#id_form-'+formIdx+'-skip_rule_val').val({{opts.firstval}}-1)
				if (opt_type == ADVANCED_OPTION_TYPE_SKIP)
				{
					{% for q, val in opts.rules.items %}
						$skip_rule = add_skip_rule($parent_form);
						// set values
						$q = $skip_rule.find('select[id*="skip_rule_q"]');
						$q.val({{q}});
						$v = $skip_rule.find('select[id*="skip_rule_val"]');
						$v.val({{val}});
					{% endfor %}
				} else if (opt_type == ADVANCED_OPTION_TYPE_ALT)
				{
					// assume only a single rule
					$alt = $parent_form.find('select[id*="alternative_response"]');
					$alt.val({{opts.q}});					
				}
				
			{% endfor %}
   		{% endif %}
   	{% endif %}

</script>
{% endblock %}

