{% extends "registration/base_site.html" %}
{% load i18n %}
{% load common %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}
{% block extrastyle %}{% load staticfiles %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static  'admin/css/login.css' %}"/>{% endblock %}


{% block extrahead %}

<style>
/*
	Override the style from base.css
*/

h1#site-name {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}


p.instr {
	line-height: 20px;
	font-size: 12px;
}


a.login-link {
	text-transform: uppercase;
}

.login .submit-row {
	clear: both;
	padding: 0em 0 0 9.4em;
	padding-top: 3em;
}

</style>

{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% csrf_token %}
<div class="form-row">
	<p class="instr">{% trans "Your password has been reset. You may go ahead and log in now." %}</p>
</div>
<div class="submit-row">
	<a class="login-link" href="{% settings_value "CONSOLE_ROOT" %}">{% trans 'Log in' %}</a>
</div>

{% endblock %}
