{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags common_tags %}

{% block title %}Awaaz.De | Setting{% endblock %}

{% block partial %}
{% include "dashboard/includes/navmenu.html" with active_tab='us' %}

<div class="container" id="usersetting-container">
	<input type="hidden" id="settings-url" name="settings-url" value="{% url 'dashboard:settings' %}" />
	<div class="row p-b-20">
		<div class="col-md-3 p-t-20 p-b-20">
			<h3>User Accounts</h3>
		</div>
		<div class="col-md-7 col-md-offset-2 p-t-20 p-b-20">
			<div class="col-md-5 p-t-20">
				<h5 class="v-align-middle pull-right text-primary">Please select a user</h5>
			</div>

			<div class="col-md-7">
				<select class="width-100 m-t-20" id="user-setting-search" data-placeholder="---">
					<option></option>
					{% for admin in admins %}
						{% if selected_user|get_item:'id' == admin.id %}
							<option value="{{ admin.id }}" selected>{{ admin.name }} ({{ admin.number }} - {{ admin.admin__auth_user__username }})</option>
						{% else %}
							<option value="{{ admin.id }}">{{ admin.name }} ({{ admin.number }} - {{ admin.admin__auth_user__username }})</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	
	<div class="row p-t-20 p-b-20">
		<div class="col-md-12 sm-no-padding">
			<div class="panel panel-default" id="stats-portlet">
				<div class="container-xs-height full-height">
					<div class="row-xs-height">
						<div class="col-xs-height">
							<div class="panel-heading">
								<div class="panel-title"></div>
							</div>

							<div class="panel-body">
								<div class="row-xs-height col-md-12" id="user-settings-container">
									{% if selected_user %}

									<div role="tabpanel">

										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist" id="user-action-tab">
											<li role="presentation" class="active">
												<a href="#account-dt" aria-controls="account-dt" role="tab" data-toggle="tab">
													Account Details</a>
											</li>
											<li role="presentation">
												<a href="#streamacc"
												aria-controls="streamacc" role="tab" data-toggle="tab">Stream Account Setting</a>
											</li>
											<li role="presentation">
												<a href="#recharge"
												aria-controls="recharge" role="tab" data-toggle="tab">Recharge</a>
											</li>
											<li role="presentation">
												<a href="#grpmember"
												aria-controls="grpmember" role="tab" data-toggle="tab">Group Member Limit</a>
											</li>
										</ul>

										<!-- Tab panes -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="account-dt">
												<div class="row">
													<div class="col-md-12 col-sm-12 vcenter">
														<div class="content-c">
															{% crispy account_form account_form.helper %}
														</div>
													</div>
												</div>
											</div>
											<div role="tabpanel" class="tab-pane" id="streamacc">
												<div class="row">
													<div class="col-md-12 col-sm-12 vcenter">
														<div class="content-c">
															{% crispy stream_form stream_form.helper %}
														</div>
													</div>
												</div>
											</div>
											<div role="tabpanel" class="tab-pane" id="recharge">
												<div class="row">
													<div class="col-md-8 col-sm-8 vcenter">
														<div class="content-c">
															{% crispy recharge_form recharge_form.helper %}
														</div>
													</div>
													<div class="col-md-4 col-sm-4 vcenter">
														<div class="content">
															<h4>Current Balance:</h4>
															{% if selected_user|get_item:'balance' > 0%}
																<h2 class="text-complete">{{ selected_user|get_item:'balance' }}</h2>
															{% else %}
																<h2 class="text-danger">{{ selected_user|get_item:'balance' }}</h2>
															{% endif %}
														</div>
													</div>
												</div>
											</div>
											<div role="tabpanel" class="tab-pane" id="grpmember">
												<div class="row">
													<div class="col-md-12 col-sm-12 vcenter">
														<div class="content-c">
															{% crispy membercredit_form membercredit_form.helper %}
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

									{% else %}
										<h5 class="width-100 text-center text-complete">Please select the user from top right search box</h5>
									{% endif %}
									
									{% if error %}
										<span id="show-notification" data-message="{{ error }}" data-type="error"></span>
									{% endif %}
									
									{% if success %}
										<span id="show-notification" data-message="{{ success }}" data-type="success"></span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}