{% extends 'registration/base_site.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extrahead %}
<script src="{{ STATIC_URL }}js/bootstrap-alert.js" type="text/javascript"></script>
<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />

<style>
/*
	Override the style from base.css
*/
input[type="submit"]{
	background: #0074CC;
	border-style: solid;
	border-color: #0074CC;
	border-width: 1px;
	color: 	#FFFFFF;
	padding: 4px 10px; 	
}

#content {
	margin-top: 20px;
}

#content .alert {
	margin-top: 40px;
}

.form-horizontal {
	margin-top: 40px;
}

</style>
{% endblock %}

{% block content %}
	{% if success %}<div class="alert alert-success fade in" ><a class="close" data-dismiss="alert">x</a><strong>{{ success }}</strong></div>{% endif %}
	{% if error %}<div class="alert alert-error fade in" ><a class="close" data-dismiss="alert">x</a><strong>{{ error }}</strong></div>{% endif %}
   	{% if preform %}{{ preform|safe }}{% endif %}
   	{% crispy form %}
   	{% if postform %}{{ postform|safe }}{% endif %}
{% endblock %}
