{% extends 'registration/base_site.html' %}
{% load crispy_forms_tags %}

{% block extrahead %}
<script src="{{ STATIC_URL }}js/bootstrap-alert.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js" type="text/javascript"></script>
<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

<style>
/*
	Override the style from base.css
*/

input[name="submit"] {
	background: #0074CC;
	border-style: solid;
	border-color: #0074CC;
	border-width: 1px;
	color: 	#FFFFFF;
	padding: 4px 10px; 
}

input[name="refresh"]{
	background: #5BB75B;
	border-style: solid;
	border-color: #5BB75B;
	border-width: 1px;
	color: 	#FFFFFF;
	padding: 4px 10px; 
}

div.qform
{
    border: 1px solid black;
    border-radius:3px;
    margin: 5px;
    padding: 5px;
}
</style>
{% endblock %}

{% block content %}
	{% if success %}<div class="alert alert-success fade in" ><a class="close" data-dismiss="alert">x</a><strong>{{ success }}</strong></div>{% endif %}
   	<form action="{% url awaazde.console.views.createsurvey %}" class="form-horizontal" method="post">
   		{% crispy createform %}
   		{% if question_formset %}
   			{% crispy question_formset question_formset.form.helper %}
				<input id="submit-id-submit" class="btn btn-primary offset4" type="submit" value="Create Survey" name="submit">
   		{% endif %}
   		
   	</form>
{% endblock %}

{% block footer %}
<script>
	var $include_id = $('input[name="include_id"]'),
    	$id_length = $('select[name="id_length"]');
	$include_id.change(function() {
    	if ($include_id.is(':checked')) {
        	$id_length.removeAttr('disabled');
    	} else {
        	$id_length.attr('disabled', 'disabled').val();
    	}
	}).trigger('change'); // added trigger to calculate initial state

	
	$('input[type="radio"]').change(function() {
		// set dynamism for Type for each questionform
		
		// parse out the index of this questionform
		var formidx = this.id.split('-')[1];
		if (this.id.indexOf('-type_') > -1)
		{
			$number_opts = $('#id_form-'+formidx+'-num_options');
			if (this.value == 1 || this.value == 2)
			{
				$number_opts.removeAttr('disabled');
			}
			else if (this.value == 3)
			{
				$number_opts.attr('disabled', 'disabled');
			}
		}
		else if (this.id.indexOf('-advanced_') > -1)
		{
			$skip_rule = $('#div_id_form-'+formidx+'-skip_rule_q');
			$skip_opts = $skip_rule.closest('div.row')
			$advanced_row = $skip_rule.closest('.advanced-row')
			$advanced_row.show();
			$alt_resp_opt = $('#div_id_form-'+formidx+'-alternative_response');
			if (this.value == 1)
			{
				//skip options: show it and hide alternative response opt
				$skip_opts.show();
				$alt_resp_opt.hide();
			}
			else if (this.value == 2)
			{
				$skip_opts.hide();
				$alt_resp_opt.show();
			}
		}
	});
	
	$('.advanced-row').hide();
	
</script>
{% endblock %}

