{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load common %}

{% block title %}Awaaz.De | {% trans "Password reset completed" %}{% endblock %}

{% block extra-container-class %}password-r-container{% endblock %}


{% block extrahead %}

<style>
/*
	Override the style from base.css
*/

.password-r-container {
	padding-bottom: 20px;
}
p.instr {
	line-height: 22px;
	font-size: 14px;
	padding-bottom: 30px;
	text-align: center;
}

.btn-primary  {
	margin-left: auto;
	margin-right: auto !important;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px !important;
	width: 120px;
	text-decoration: none;
}

</style>

{% endblock %}


{% block page_content %}
<p class="form-error instr">
	{% trans "Your password has been reset. You may go ahead and log in now." %}
</p>

<p>
	<a class="btn btn-primary btn-signup" href="{% settings_value 'CONSOLE_ROOT' %}">{% trans 'Log in' %}</a>
</p>
{% endblock %}
