{% extends 'registration/registration_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Awaaz.De | {% trans "Password reset" %}{% endblock %}

{% block extra-container-class %}password-r-container{% endblock %}


{% block extrahead %}

<style>
/*
	Override the style from base.css
*/

h1#site-name {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.login .form-row #id_email {
    clear: both;
    padding: 6px;	
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  	border: 1px solid #ccc
}

p.instr {
	line-height: 20px;
	font-size: 13px;
	margin-bottom: 20px;
}

.btn-primary  {
	margin-left: auto;
	margin-right: auto !important;
	display: block;
	margin-top: 20px;
}

</style>

{% endblock %}


{% block page_content %}

<p class="form-error instr">{% trans "To reset your password, please enter your username (email address) below." %}</p>


<form action="" method="post" id="login-form" class="registration-form">{% csrf_token %}
		<div class="form-group">
			<div id="div_id_email" class="control-group required">
				<label for="id_email" class="control-label requiredField">
				{% trans 'Username (email address):' %}<span class="asteriskField">*</span></label>
				<div class="controls">
					{{ form.email }} 
				</div>
				{% if form.email.errors %}
					<p id="error_id_email" class="help-block"><strong>{{ form.email.errors.as_text }}</strong></p>
				{% endif %}	
			</div>
		</div>
		<div class="row">
			<input type="submit" value="{% trans 'Reset Password' %}" class="btn btn-primary btn-signup"/>
		</div>
</form>

{% endblock %}
