{% extends 'registration/registration_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Awaaz.De | Password reset{% endblock %}

{% block extrahead %}

<style>
/*
	Override the style from base.css
*/

.instr-header {
	text-align: center;
}
p.instr {
	line-height: 22px;
	font-size: 14px;
	padding-bottom: 30px;
	text-align: justify;
}
</style>
{% endblock %}

{% block extra-container-class %}signup-container{% endblock %}

{% block page_content %}


{% if validlink %}	
	{% if form.errors %}
		{% for field, errors in form.errors.items %}
			{% if field == '__all__' %}
		    	{% for error in errors %}
		    		<p class="error-text form-error">{{ error }}</p>
		    	{% endfor %}
		    {% endif %}
    	{% endfor %}
	{% endif %}
	
	
	<form action="" method="post" class="registration-form">
		{% csrf_token %}
		<div class="form-group">
			<div id="div_id_new_password1" class="control-group required">
				<label for="id_new_password1" class="control-label requiredField">
				{% trans 'New password' %}<span class="asteriskField">*</span></label>
				<div class="controls">
					{{ form.new_password1 }} 
				</div>
				{% if form.new_password1.errors %}
					<p id="error_id_new_password1" class="help-block"><strong>{{ form.new_password1.errors.as_text }}</strong></p>
				{% endif %}	
			</div>
		</div>
		<div class="form-group">
			<div id="div_id_new_password2" class="control-group required">
				<label for="id_new_password2" class="control-label requiredField">
				{% trans 'Confirm password' %}<span class="asteriskField">*</span>
				</label>
				<div class="controls">
					{{ form.new_password2 }}
				</div>
				
				
				{% if form.new_password2.errors %}
					<p id="error_id_new_password2" class="help-block"><strong>{{ form.new_password2.errors.as_text }}</strong></p>
				{% endif %}	
			</div>
		</div>
		<div class="row">
			<input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary btn-signup pull-right"/>
		</div>
	</form>

{% else %}

<h4 class="instr-header">{% trans 'Password reset unsuccessful' %}</h4>

<p class="error-text form-error instr">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}



