{% extends "rest_framework/base.html" %}

{% block title %}Awaaz.De API{% endblock %}

{% block branding %}<a class='brand' href='http://bit.ly/awaazde-xact-concept'>Awaaz.De API</span></a>{% endblock %}

{% block style %}

{{ block.super }}

<style>
.navbar .navbar-inner {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #2C2C2C;
    border-color: #094600 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-radius: 0 0 0 0;
    border-right: medium none;
    border-style: solid none none;
    border-width: 5px medium medium;
    color: #FFFFFF;
    }
</style>
    
{% endblock %}
    